@media (max-width: 1200px) {
  .header-section {
    width: 100%;
    padding: 0 40px;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  .menu-label {
    display: flex;
  }
  .menu-label i {
    font-size: 30px;
    color: var(--blanco);
    cursor: pointer;
  }
  .menu-label i:hover {
    color: var(--primary);
  }
  .navbar ul {
    flex-direction: column;
  }
  .navbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 120px;
    padding: 30px 0px;
    background: linear-gradient(to top, #bca17d, #254552);
    border-bottom: var(--primary) solid 5px;
    display: none;
  }
  .navbar ul {
    gap: 20px;
  }
  .navbar a {
    border-bottom: none;
  }
  #menu-toggle:checked + .navbar {
    display: flex;
    animation: fadeInDown 0.7s;
  }
  #menu-toggle:default + .navbar {
    display: flex;
    animation: fadeInUp 0.7s;
  }

  #hero h1 {
    font-size: 5rem !important;
  }

  .registro,
  .login {
    font-size: 0.8rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  #hero .container {
    padding: 40px;
  }

  #hero h1 {
    font-size: 4rem !important;
  }

  #about .container {
    padding: 80px 40px;
  }
  #about p {
    font-size: 1.2rem;
  }
  #salas .container {
    padding: 80px 40px;
  }
  .container-cards {
    flex-direction: column;
  }
  .cards {
    width: 100%;
    height: auto;
    padding: 30px 0px;
  }
  #contact .container {
    padding: 80px 40px;
  }
  .contact-colum {
    flex-direction: column;
    gap: 20px;
  }
  .container-info,
  .container-formulario {
    padding: 0px;
  }
  .redes-sociales a {
    font-size: 1.2rem;
  }
}
